html,
body {
    padding: 0;
    margin: 0;
    font-family: consolas, monospace;
    font-size: 12px;
    background: #fafafa;
}

button,
input,
textarea {
    font-family: consolas, monospace;
    font-size: 12px;
}

.view {
    width: 480px;
    margin: 0 auto;
}

a {
    color: #219161;
    cursor: pointer;
    text-decoration: none;
}

header {
    padding: 5px 15px;
    background: #fff;
    color: #006544;
    text-align: center;
}

.wrap {
    -webkit-box-shadow: 0 3px 5px #000;
    -moz-box-shadow: 0 3px 5px #000;
    box-shadow: 0 1px 5px #666;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

footer {
    margin: 20px 0 5px 0;
    text-align: center;
    color: #999999;
}

footer p {
    margin: 0;
    line-height: 18px;
}

footer a:hover {
    text-decoration: underline;
}

.clear:after {
    content: ' ';
    display: block;
    line-height: 0;
    font-size: 0;
    height: 0;
    clear: both;
}

.todos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.done-todo {
    /*background: #219161;*/
}

.todos-footer {
    padding: 15px;
}

.todo-header,
.todo-footer,
.edit-header,
.edit-footer,
.option {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.todo-header,
.edit-header {
    background: #a9debf;
}

.todo-footer,
.edit-footer {
    color: #999999;
}

.edit-header {
    padding: 0 15px;
}

.todo-header h2,
.todo-header h3,
.edit-header h2,
.edit-header h3,
.option h2,
.option h3 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 24px;
}

.todo-header a,
.edit-header a,
.option a {
    display: inline-block;
    padding: 0 8px;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.todo-header a:hover,
.edit-header a:hover,
.option a:hover {
    color: #ffffff;
    background: #219161;
}

.todo-header h2,
.edit-header h2,
.option h2 {
    float: left;
}

.todo-header h3,
.edit-header h3,
.option h3 {
    float: right;
}

.todo-body,
.edit-body {
    padding: 10px 15px;
    line-height: 18px;
}

.edit-form input,
.edit-form textarea {
    outline: medium none;
    margin: 5px 0;
    padding: 3px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #999999;
    resize: none;
    width: 100%;
}

.edit-form textarea {
    height: 100px;
}

.edit-form .input-wrap {
    margin: 0 13px 0 0;
}

.edit-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.edit-form label {
    display: block;
}

